<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date</title>
</head>
<body>
<div>
    Enter your dates!
</div>
</br>
<form method="post">
    <div>
        Dates:
        <input type="text" name="date"/>
        Ex:2017-01-25
    </div>
        <div>
        text Cond1:
        <input type="text" name="stext"/>
           Text cond 2 <input type="text" name="s1text"/>
        Ex: if cond 1 and cond 2 true 
    </div>

    <div>
        <button type="submit">Send date</button>


        <button onclick="goBack()">Go Back</button>

    </div>
</form>
</br>
        <form action="/reload">
            <input type="submit" value="Refresh DB"/>
        </form>


<script>
function goBack() {
    window.history.back();
}

</script>

</body>
</html>